@import url(css/fonts.css);
@import url(css/fonts.css);
.mb10 {
  margin-bottom: 10px;
}

.fri {
  display: inline-block;
  vertical-align: middle;
}

.fri-arrow-dark {
  background-image: url('../images/icons-s901576975d.png');
  background-position: 0 -26px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 42px;
}

.nav__back > a:hover .fri-arrow-dark {
  background-image: url('../images/icons-s901576975d.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 42px;
}

.chistovie-logo {
  background-image: url('../images/icons-s901576975d.png');
  background-position: 0 -52px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 150px;
}

.general-results-orders__icon {
  background-image: url('../images/icons-s901576975d.png');
  background-position: 0 -117px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}

.general-results-visitors__icon {
  background-image: url('../images/icons-s901576975d.png');
  background-position: 0 -162px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 37px;
  width: 45px;
}

.general-results-google__icon {
  background-image: url('../images/icons-s901576975d.png');
  background-position: 0 -80px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}

.general-results-yandex__icon {
  background-image: url('../images/icons-s901576975d.png');
  background-position: 0 -204px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 15px;
}

.section__title-icon {
  background-image: url('../images/icons-s901576975d.png');
  background-position: 0 -462px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  width: 36px;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: "HelveticaNeueCyr";
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-weight: 300;
  font-size: 17px;
  color: #000000;
  background-color: #fff;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1;
}

.chistovie-wrapper {
  width: 100%;
  position: relative;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 1050px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.container::after {
  clear: both;
}
.container::before {
  content: "";
  display: table;
}

.section {
  position: relative;
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
}

.section_1 {
  background: linear-gradient(to bottom, #def4f5, #e1f5f6);
  height: 874px;
  padding-top: 174px;
  margin-bottom: 6px;
}

.general__logo {
  text-align: center;
  margin-bottom: 18px;
}

.general__title {
  font-family: "HelveticaNeueCyr";
  font-weight: 100;
  font-size: 38px;
  color: #039fa5;
  text-align: center;
  margin-bottom: 100px;
}

.general__results {
  position: relative;
  height: 470px;
  width: 100%;
}

.general-results__orders {
  position: absolute;
  width: 440px;
  height: 440px;
}

.general-results-orders__big-circle {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 117px;
  left: 22px;
  width: 207px;
  height: 207px;
  background-color: rgba(0, 111, 168, 0.6);
  border-radius: 50%;
}
.general-results-orders__big-circle::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 32px;
  background-color: rgba(0, 111, 168, 0.6);
  left: 50%;
  transform: translateX(-50%);
  bottom: -32px;
}
.general-results-orders__big-circle::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgba(0, 111, 168, 0.6);
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  bottom: -42px;
}

.general-results-orders__middle-circle {
  position: absolute;
  width: 155px;
  height: 155px;
  background-color: #4e8dae;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.general-results-orders__small-circle {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
}

.general-results-orders__descr {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 250px;
  height: 45px;
  top: 385px;
  left: 9px;
}

.general-results-orders__count, .general-results-visitors__count, .general-results-google__count, .general-results-yandex__count {
  font-size: 52.58px;
  font-weight: 300;
  color: #334050;
  line-height: 0.8;
  margin-right: 12px;
}

.general-results-orders__text, .general-results-visitors__text, .general-results-google__text, .general-results-yandex__text {
  font-size: 17px;
  color: #262424;
  line-height: 1;
}

.general-results-visitors__big-circle {
  position: absolute;
  width: 165px;
  height: 165px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 154, 160, 0.6);
  border-radius: 50%;
  top: 138px;
  left: 207px;
}
.general-results-visitors__big-circle::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 154, 160, 0.6);
  width: 2px;
  height: 26px;
  top: -26px;
  left: 50%;
  transform: translateX(-50%);
}
.general-results-visitors__big-circle::after {
  position: absolute;
  content: "";
  background-color: rgba(0, 154, 160, 0.6);
  width: 10px;
  height: 10px;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.general-results-visitors__middle-circle {
  position: absolute;
  width: 123px;
  height: 123px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #039fa5;
  border-radius: 50%;
}

.general-results-visitors__small-circle {
  position: absolute;
  width: 80px;
  height: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
}

.general-results-visitors__descr {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 290px;
  height: 45px;
  top: 40px;
  left: 140px;
}

.general-results-visitors__icon {
  margin-top: -10px;
}

.general-results__image {
  position: absolute;
  top: 0;
  left: 274px;
  width: 416px;
  height: 473px;
  background: url("../images/general-results-image.png") no-repeat top;
}

.general-results-google__big-circle {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  top: 157px;
  left: 701px;
  background-color: rgba(50, 191, 110, 0.6);
}
.general-results-google__big-circle::after {
  position: absolute;
  content: "";
  background-color: #7dd8a4;
  bottom: -66px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 66px;
}
.general-results-google__big-circle::before {
  position: absolute;
  content: "";
  background-color: #7dd8a4;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  bottom: -76px;
  left: 50%;
  transform: translateX(-50%);
}

.general-results-google__middle-circle {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 102px;
  height: 102px;
  background-color: #65af83;
  border-radius: 50%;
}

.general-results-google__small-circle {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background-color: #fff;
  border-radius: 50%;
}

.general-results-google__descr {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 250px;
  height: 45px;
  top: 387px;
  left: 664px;
}

.general-results-yandex__big-circle {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 101px;
  height: 101px;
  background-color: rgba(220, 92, 2, 0.7);
  border-radius: 50%;
  top: 172px;
  left: 820px;
}
.general-results-yandex__big-circle::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 60px;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dc772d;
}
.general-results-yandex__big-circle::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dc772d;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}

.general-results-yandex__middle-circle {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background-color: #ca5f14;
}

.general-results-yandex__small-circle {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
}

.general-results-yandex__descr {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 240px;
  height: 45px;
  top: 42px;
  left: 760px;
}

.section_2 {
  height: 473px;
}

.period-text {
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  color: #262424;
  letter-spacing: 0.2px;
  margin-bottom: 71px;
}

.section__title {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 765px;
  margin: 0 auto 20px;
}

.section__title-icon-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 8px;
  margin-right: 8px;
}

.section__title-text-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.section__title-left-line, .section__title-right-line {
  width: 280px;
  height: 2px;
  background-color: #eef1f1;
}

.section__title-text {
  position: relative;
  font-size: 34px;
  font-weight: 100;
  text-align: center;
}

.section__text {
  font-size: 17px;
  color: #000;
  text-align: center;
  line-height: 1.4;
  width: 1000px;
  margin: 0 auto;
}

.client {
  position: relative;
  width: 1332px;
  height: 335px;
  margin: 0 auto;
}

.client__grid {
  position: absolute;
  top: 20px;
  background: url("../images/client-bg.png") no-repeat center;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 201px;
}

.client__left-item, .client__right-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}

.client__left-item {
  position: absolute;
  text-align: center;
  top: 114px;
  left: 307px;
}

.client__right-item {
  position: absolute;
  text-align: center;
  top: 114px;
  left: 772px;
}

.client__small-text {
  color: #65b3ba;
  font-weight: 300;
  font-size: 17px;
  line-height: 1;
}

.client__large-text {
  color: #65b3ba;
  font-weight: 300;
  font-size: 38px;
  line-height: 1;
}

.section_3 {
  height: 635px;
  position: relative;
  background: url("../images/targets-bg.png") no-repeat;
  background-position: 710px 85px;
}

.targets {
  height: 500px;
}

.targets-grid {
  position: absolute;
  width: 100%;
  height: 100%;
}

.targets-grid__item-1, .targets-grid__item-2, .targets-grid__item-3 {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  top: 38px;
}

.targets-grid__item-1 {
  left: 120px;
}

.targets-grid__item-2 {
  left: 404px;
}

.targets-grid__item-3 {
  left: 686px;
}
.targets-grid__item-3 .targets-grid__descr {
  padding-left: 8px;
}

.targets-grid__title {
  font-size: 38px;
  font-weight: 100;
  color: #65b3ba;
}

.targets-grid__descr {
  line-height: 1.2;
  font-size: 17px;
  font-weight: 300;
  color: #000000;
}

.targets__image-1 {
  position: absolute;
  background: url("../images/targets-image-1.png") no-repeat;
  width: 362px;
  height: 218px;
  top: 210px;
  left: 170px;
  z-index: 1;
}

.targets__image-2 {
  position: absolute;
  background: url("../images/targets-image-2.png") no-repeat;
  width: 463px;
  height: 279px;
  top: 175px;
  left: 294px;
  z-index: 2;
}

.targets__image-3 {
  position: absolute;
  background: url("../images/targets-image-3.png") no-repeat;
  width: 362px;
  height: 218px;
  left: 520px;
  top: 210px;
  z-index: 1;
}

.targets__blur {
  position: absolute;
  background: url("../images/targets-blur.png") no-repeat;
  width: 159px;
  height: 145px;
  top: 275px;
  left: 150px;
  z-index: 3;
}

.section__title-text_seo {
  width: 100%;
}

.section_4 {
  height: 5500px;
}

.seo__catalog {
  position: absolute;
  width: 528px;
  height: 1006px;
  background: url("../images/seo-catalog.png") no-repeat;
  top: 112px;
  left: 15px;
}

.seo__descr {
  position: absolute;
  width: 385px;
  top: 117px;
  left: 625px;
}

.seo__descr-title {
  font-weight: 300;
  font-size: 28px;
  color: #000000;
  margin-bottom: 17px;
}

.seo__descr-text {
  font-size: 17px;
  font-weight: 300;
  color: #000;
  margin-bottom: 30px;
}

.seo__descr-graphic {
  position: absolute;
  background: url("../images/seo-graphic.png") no-repeat;
  width: 237px;
  height: 99px;
  top: 190px;
  left: 35px;
}

.seo__queries {
  position: absolute;
  font-size: 52px;
  font-weight: 300;
  color: #334050;
  top: 185px;
  left: 0;
}

.seo__descr-small-text {
  position: absolute;
  font-size: 15px;
  color: #000000;
  font-weight: 300;
  top: 301px;
}

.seo__work-catalog {
  position: absolute;
  width: 385px;
  top: 567px;
  left: 626px;
}

.seo__work-catalog-title {
  font-size: 28px;
  color: #000;
  font-weight: 300;
  margin-bottom: 18px;
}

.seo__work-catalog-text {
  font-size: 17px;
  font-weight: 300;
  color: #000;
}
.seo__work-catalog-text p {
  margin-bottom: 22px;
  line-height: 1.4;
}

.seo__work-catalog-list {
  margin-top: -2px;
  list-style-type: none;
  padding: 0;
}
.seo__work-catalog-list li {
  padding-left: 44px;
  position: relative;
  line-height: 1.3;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 17px;
}
.seo__work-catalog-list li::after {
  position: absolute;
  content: "";
  top: 9px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #65b3ba;
}

.nav-white {
  position: absolute;
  height: 104px;
  padding-top: 27px;
}
.nav-white .nav__menu .nav__menu__contacts .btn {
  font-family: "Bello Pro";
}
.nav-white .nav__menu .nav__menu__contacts .btn:hover {
  background-color: #00b6bd;
  border-color: #00b6bd;
}
.nav-white .nav__back a:hover {
  color: #00b6bd;
}
