{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}

    <div class="section section_1">
        <div class="container">
            <div class="general">
                <div class="general__logo">
                    <i class="chistovie-logo"></i>
                </div>
                <h1 class="general__title">
                    Повышение поискового трафика<br>
                    для производителя одноразовой продукции
                </h1>
                <div class="general__results general-results">
                    <div class="general-results-orders__big-circle">
                        <div class="general-results-orders__middle-circle">
                            <div class="general-results-orders__small-circle">
                                <div class="general-results-orders__icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="general-results-orders__descr">
                        <div class="general-results-orders__count">156%</div>
                        <div class="general-results-orders__text">рост заказов<br>с поиска</div>
                    </div>
                    <div class="general-results-visitors__big-circle">
                        <div class="general-results-visitors__middle-circle">
                            <div class="general-results-visitors__small-circle">
                                <div class="general-results-visitors__icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="general-results-visitors__descr">
                        <div class="general-results-visitors__count">110%</div>
                        <div class="general-results-visitors__text">рост посетителей<br>в месяц</div>
                    </div>
                    <div class="general-results__image"></div>
                    <div class="general-results-google__big-circle">
                        <div class="general-results-google__middle-circle">
                            <div class="general-results-google__small-circle">
                                <div class="general-results-google__icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="general-results-google__descr">
                        <div class="general-results-google__count">395</div>
                        <div class="general-results-google__text">запросов<br>В ТОП-10 Google</div>
                    </div>
                    <div class="general-results-yandex__big-circle">
                        <div class="general-results-yandex__middle-circle">
                            <div class="general-results-yandex__small-circle">
                                <div class="general-results-yandex__icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="general-results-yandex__descr">
                        <div class="general-results-yandex__count">232</div>
                        <div class="general-results-yandex__text">запроса<br>В ТОП-10 Яндекс</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section_2">
        <div class="container">
            <div class="period-text">Период поискового продвижения апрель 2015 - н.в.</div>
            <div class="section__title">
                <div class="section__title-icon-wrapper">
                    <i class="section__title-icon"></i>
                </div>
                <div class="section__title-text-wrapper">
                    <div class="section__title-left-line"></div>
                    <div class="section__title-text">Клиент</div>
                    <div class="section__title-right-line"></div>
                </div>
            </div>
        </div>
        <div class="client">
            <div class="section__text">
                Чистовье — российский производитель одноразовой продукции и сопутствующих товаров для индустрии красоты и здоровья.<br>
                Все, чтобы работа салонов красоты, SPA-центров, спортивных и медицинских учреждений, предприятий пищевой промышленности и гостиничного бизнеса стала безопасней.<br>
            </div>
            <div class="client__grid">
                <div class="client__left-item">
                    <div class="client__small-text">Опыт работ в индустрии</div>
                    <div class="client__large-text">более 10 лет</div>
                </div>
                <div class="client__right-item">
                    <div class="client__small-text">Дистрибьюторы</div>
                    <div class="client__large-text">в 50 городах</div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section_3">
        <div class="container">
            <div class="section__title">
                <div class="section__title-icon-wrapper">
                    <i class="section__title-icon"></i>
                </div>
                <div class="section__title-text-wrapper">
                    <div class="section__title-left-line"></div>
                    <div class="section__title-text">Цели</div>
                    <div class="section__title-right-line"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="targets">
                <div class="targets-grid">
                    <div class="targets-grid__item-1">
                        <div class="targets-grid__title">ТОП-3</div>
                        <div class="targets-grid__descr">по запросу<br>«одноразовая продукция»</div>
                    </div>
                    <div class="targets-grid__item-2">
                        <div class="targets-grid__title">ТОП-10</div>
                        <div class="targets-grid__descr">в поисковых системах по<br>согласованным ключевым<br>запросам</div>
                    </div>
                    <div class="targets-grid__item-3">
                        <div class="targets-grid__title">Трафик</div>
                        <div class="targets-grid__descr">Увеличить органический трафик<br>по направлению одноразовая<br>продукция</div>
                    </div>
                </div>
                <div class="targets__image-1"></div>
                <div class="targets__image-2"></div>
                <div class="targets__image-3"></div>
                <div class="targets__blur"></div>
            </div>
        </div>
    </div>

    <div class="section section_4">
        <div class="seo-background"></div>
        <div class="container">
            <div class="section__title">
                <div class="section__title-icon-wrapper">
                    <i class="section__title-icon"></i>
                </div>
                <div class="section__title-text-wrapper">
                    <div class="section__title-left-line"></div>
                    <div class="section__title-text section__title-text_seo">Поисковая оптимизация</div>
                    <div class="section__title-right-line"></div>
                </div>
            </div>
            <div class="seo">
                <div class="seo__catalog"></div>
                <div class="seo__descr">
                    <div class="seo__descr-title">Семантическое ядро</div>
                    <div class="seo__descr-text">У сайта довольно узкая и специфическая тематика. Мы тщательно проработали направление и составили основное семантическое ядро.</div>
                    <div class="seo__queries">231 запрос</div>
                    <div class="seo__descr-graphic"></div>
                    <div class="seo__descr-small-text">Высокочастотные запросы составили более 30%.</div>
                </div>
                <div class="seo__work-catalog">
                    <div class="small-title">Работа с каталогом</div>
                    <div class="default-text">
                        <p>Эффективное продвижение требует страниц сайта, специально созданных под ключевые запросы.</p>
                        <p>Самый удобный способ — структура вложенных категорий. Это решает и задачу удобного каталога для пользователей. </p>
                    </div>
                    <ul class="default-list">
                        <li>Разделили ключевые запросы по конкретным подкатегориям;</li>
                        <li>клиент заполнил матрицу товаров и категорий;</li>
                        <li>создали подкатегории на сайте (картридж, горячий воск, полоски и прочее);</li>
                        <li>присвоили новым подкатегориям товары согласно заполненной матрице товаров и категорий.</li>
                    </ul>
                </div>
                <div class="arrow arrow_1">
                    <p>Для примера, процесс переработки</p>
                    <p class="mb10">категории «Воск для депиляции»</p>
                    <p><a href="http://www.chistovie.ru/catalog/dlya_voskovoy_depilyatsii/" class="default-link" target="_blank">http://www.chistovie.ru/catalog/dlya_voskovoy_depilyatsii/</a></p>
                </div>
                <div class="arrow arrow_2">Распределение запросов по новым подкатегориям</div>
                <div class="seo-table"></div>
            </div>
        </div>
    </div>
    <div class="section section_5">
        <div class="container">
            <div class="flex justify-space-beetween">
                <div class="technical-changes">
                    <div class="small-title">Технические правки</div>
                    <ul class="default-list">
                        <li>Настроили вывод заголовков h1;<br>правили верстку шаблона;</li>
                        <li>прописали оптимизированные заголовки;</li>
                        <li>настроили верный код ответа несуществующих страниц;</li>
                        <li>отрегулировали отображение раздела «О компании» в разных браузерах;</li>
                        <li>убрали повторение общей информации на всех страницах;</li>
                        <li>настроили 301 редиректы.</li>
                    </ul>
                    <div class="default-text">
                        <p>Эти проблемы кажутся незначительными. Однако h1 — тег заголовка, в нем должна быть отображена основная тема контента страницы. Для поисковой системы  это важный элемент. Его отсутствие понижает релевантность страницы, а множественное использование — приводит к переоптимизации. Неверный код ответа несуществующих страниц влечет появление в индексе пустых или дублирующихся страниц.</p>
                        <p>Неверное отображение страницы —  снижение конверсии. А редиректы не дают потерять ссылочный вес со страниц, которые изменили URL адрес или больше не существуют на сайте.</p>
                        <p>Пренебрежение маленькими задачами в разы снижает эффект поискового продвижения.</p>
                    </div>
                </div>
                <div class="work-with-content">
                    <div class="small-title">Работа с контентом</div>
                    <ul class="default-list">
                        <li>Прописаны уникальные и оптимизированные мета-теги для всех страниц;</li>
                        <li>оптимизированы существующие материалы под необходимые ключевые фразы; </li>
                        <li>переименованы некоторые разделы каталога в соответствии с пользовательским спросом.</li>
                    </ul>
                    <div class="default-text">
                        <p>Совместно с клиентом мы определили список тематик текстов на целевые страницы. Инструментом продвижения стал и новый раздел «Статьи».</p>
                        <p>Мы составили контент-план для ежемесячного пополнения материалов.</p>
                    </div>
                </div>
            </div>
            <div class="section-articles">
                <div class="arrow arrow_3">
                    <p class="mb10">Новый раздел «Статьи»</p>
                    <p><a href="http://www.chistovie.ru/articles/" class="default-link" target="_blank">http://www.chistovie.ru/articles//</a></p>
                </div>
                <div class="articles-images">
                    <div class="articles-image__1"></div>
                    <div class="articles-image__2"></div>
                    <div class="articles-image__3"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}